# Node
node_modules/
npm-debug.log
pnpm-debug.log


# Logs
logs/
*.log
*.tmp
tsconfig.tsbuildinfo
adb/tsconfig.tsbuildinfo
shared/tsconfig.tsbuildinfo

electron/logcat
release
# Build artifacts
dist/
build/
out/
.next/


# Electron
*.asar
*.unpacked/


# OS files
.DS_Store
Thumbs.db